.info-el{
	display: flex;
	align-items: center;
	&__icon{
		width: 48px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #BB382A;
		font-size: 0;
		margin-right: 24px;
	}
}

.block-locate{
	align-items: flex-start;
	&__title{
		font-family: 'Gilroy';
		font-size: 12px;
		letter-spacing: 0.04em;
		color: #677B82;
		margin-bottom: 14px;
	}
	&__val{
		display: flex;
		align-items: center;
		font-family: 'Gilroy';
		font-weight: 600;
		font-size: 16px;
		letter-spacing: 0.04em;
		color: #2F444E;
		cursor: pointer;
		svg{
			margin-left: 10px;
		}
	}
}

.tel-el{
	font-family: 'Gilroy';
	font-size: 16px;
	letter-spacing: 0.04em;
	color: #677B82;
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	span{
		font-weight: bold;
		font-size: 24px;
		letter-spacing: 0.02em;
		color: #2F444E;
		margin-left: 7px;
	}
}

.title{
	font-family: 'Gilroy';
	font-weight: bold;
	letter-spacing: 0.02em;
	color: #2F444E;
	line-height: 1.25;
	&_main{
		font-size: 32px;
	}
	&_sec{
		font-size: 28px;
	}
	&_med{
		font-size: 24px;
	}
	&_small{
		font-size: 20px;
	}
}

.text-white{
	color: #fff !important;
}

.text-sec{
	font-family: 'Gilroy';
	font-size: 24px;
	letter-spacing: 0.02em;
	color: #2F444E;
	line-height: 1.3;
}

.text-info{
	font-family: 'Gilroy';
	font-size: 16px;
	color: #2F444E;
	line-height: 1.49;
}

.text-def{
	font-family: 'Gilroy';
	font-size: 16px;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	line-height: 1.35;
}

.block-address{
	background: #2F444E;
	padding: 40px 41px;
	padding-bottom: 27px;
	max-width: 464px;
	width: 100%;
	&__title{
		margin-bottom: 27px;
	}
	&__block{
		margin-bottom: 28px;
		&_margin{
			margin-bottom: 15px;
		}
		&-title{
			margin-bottom: 15px;
			&_margin{
				margin-bottom: 5px;
			}
		}
	}
	&__flex{
		display: flex;
		justify-content: space-between;
		&-el{
			width: 46%;
			.block-address__block-title{
				margin-bottom: 8px;
			}
			a{
				display: block;
			}
		}
	}
}

.text-red{
	color: #BB382A !important;
}

.text-color{
	color: #2F444E !important;
}

.text-black{
	font-weight: 600;
}

.block-sides{
	display: flex;
	justify-content: space-between;
	&__el{
		width: 46.2%;
	}
}

.ul{
	font-family: 'Gilroy';
	font-size: 16px;
	letter-spacing: 0.04em;
	color: #2F444E;
	li{
		padding-left: 40px;
		position: relative;
		margin-bottom: 16px;
		&:last-child{
			margin-bottom: 0;
		}
		&::after{
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 5px;
			background: #C4C4C4;
			width: 16px;
			height: 2px;
		}
	}
}

.main-menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #2F444E;
	position: relative;
	z-index: 100;
	&__el{
		// width: 100%;
	}
	&__link{
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Gilroy';
		font-weight: 600;
		font-size: 16px;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		color: #FFFFFF;
		white-space: nowrap;
		padding: 28px 40px;
		transition: .3s;
		svg{
			margin-left: 9px;
		}
		&:hover, &.active{
			background: #BB382A;
		}
	}
	&__dropdown{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 10;
		display: none;
	}
}

.menu-dropdown{
	background: #FFFFFF;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
	&__content{
		display: flex;
	}
	&__col{
		width: 100%;
		border-right: 1px solid #C4C4C4;
		padding: 40px 40px;
		padding-bottom: 50px;
		&:last-child{
			border-right: 0;
		}
	}
	&__title{
		font-family: 'Gilroy';
		font-weight: bold;
		font-size: 20px;
		letter-spacing: 0.02em;
		color: #2F444E;
		line-height: 1.2;
		min-height: 50px;
		margin-bottom: 15px;
	}
	&__links{
		li{
			margin-bottom: 13px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		a{
			font-family: 'Gilroy';
			font-size: 16px;
			letter-spacing: 0.04em;
			color: #2F444E;
			line-height: 1.45;
		}
	}
}

.burger-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0;
	width: 40px;
	height: 40px;
	background: #2F444E;
	cursor: pointer;
}

.close-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 0;
	width: 40px;
	height: 40px;
	background: #BB382A;
}

.btn-def{
	box-shadow: none;
	border: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Gilroy';
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #BB382A;
	padding: 28px 91px;
}

.wrap-article{
	.text-line{
		margin-bottom: 35px;
	}
	ul{
		margin-top: 35px;
		font-family: 'Gilroy';
		font-size: 16px;
		letter-spacing: 0.04em;
		color: #2F444E;
		margin-bottom: 30px;
		li{
			padding-left: 40px;
			position: relative;
			margin-bottom: 8px;
			&:last-child{
				margin-bottom: 0;
			}
			&::after{
				content: '';
				position: absolute;
				top: 10px;
				left: 5px;
				background: #C4C4C4;
				width: 16px;
				height: 2px;
			}
		}
	}
	ol{
		margin-bottom: 30px;
		li{
			padding-left: 40px;
			position: relative;
			margin-bottom: 8px;
			&:last-child{
				margin-bottom: 0;
			}
			&::after{
				content: '';
				position: absolute;
				top: 10px;
				left: 8px;
				color: #C4C4C4;
				font-weight: 600;
				width: 10px;
				text-align: center;
			}
			@for $i from 1 through 40 {
				&:nth-child(#{$i}){
					&::after{
						content: '#{$i}.';
					}
				}
			}
		}
	}
	p{
		margin-bottom: 17px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.block-order-form{
	background: url('../img/order.png') no-repeat right;
	background-color: #F7F7F7;
	padding: 71px 122px;
	display: flex;
	align-items: center;
	&__body{
		max-width: 450px;
		width: 100%;
		margin-right: 159px;
	}
	&__title{
		margin-bottom: 10px;
	}
	&__text{
		color: #677B82;
		font-weight: 600;
	}
}

.mail-el{
	display: flex;
	align-items: center;
	font-family: 'Gilroy';
	font-size: 16px;
	letter-spacing: 0.04em;
	color: #C4C4C4;
	a{
		color: #FF3F2B;
		display: inline-flex;
		margin-left: 8px;
	}
}

.sec-top{
	padding-left: 40px;
}

.text-red{

}

.accreditations-el{
	display: flex;
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	padding: 40px 40px;
	&__img{
		margin-right: 40px;
		width: 286px;
		height: 134px;
		object-fit: scale-down;
		display: block;
	}
	&__body{
	}
	&__title{
		margin-bottom: 28px;
	}
	&__text{
		font-family: 'Gilroy';
		font-size: 16px;
		letter-spacing: 0.04em;
		color: #2F444E;
		margin-bottom: 8px;
		line-height: 1.35;
		span{
			margin-left: 23px;
		}
	}
	&__link{
		margin-left: auto;
	}
}

.link-dec{
	display: flex;
	align-items: center;
	font-family: 'Gilroy';
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 0.02em;
	color: #677B82;
	svg{
		margin-left: 30px;
	}
}

.block-accreditations{
	&__el{
		margin-bottom: 21px;
	}
}

.bottom-links{
	margin-top: 64px;
}

.links-posts{
	display: flex;
	justify-content: center;
	&__arr{
		margin-right: 37px;
		margin-left: 37px;
		background: #2F444E;
	}
	&__el{
		width: 72px;
		height: 72px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__num{
		margin-left: 13px;
		margin-right: 13px;
		font-family: 'Gilroy';
		font-weight: bold;
		font-size: 20px;
		letter-spacing: 0.02em;
		color: #677B82;
		border: 1px solid #C4C4C4;
		transition: .3s;
		&:hover, &.active{
			background: #BB382A;
			color: #FFFFFF;
			border-color: #BB382A;
		}
	}
}

.block-clients{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: -24px;
	&__el{
		padding: 0 12px;
		width: 33.333333%;
		margin-bottom: 24px;
		.clients-el{
			height: 100%;
		}
	}
}

.clients-el{
	background: #F7F7F7;
	padding: 64px 56px;
	padding-bottom: 51px;
	&__img{
		position: relative;
		margin-bottom: 45px;
		&::after{
			content: '';
			position: absolute;
			top: 8px;
			left: 8px;
			right: -8px;
			bottom: -8px;
			z-index: 1;
			background: #677B82;
			opacity: 0.24;
		}
		&-img{
			position: relative;
			z-index: 10;
			display: block;
			width: 100%;
			height: 134px;
			object-fit: contain;
			background-color: #fff;
		}
	}
	&__text{
		font-family: 'Gilroy';
		font-weight: bold;
		font-size: 20px;
		letter-spacing: 0.02em;
		color: #2F444E;
		line-height: 1.25;
		text-align: center;
		min-height: 72px;
	}
}

.link-dec-2{
	display: flex;
	align-items: center;
	font-family: 'Gilroy';
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.04em;
	color: #2F444E;
	svg{
		margin-right: 15px;
	}
	span{
		color: #677B82;
		font-weight: 400;
		margin-left: 7px;
	}
}

.slider-arr{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: #2F444E;
	width: 72px;
	height: 72px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	margin: 0;
	user-select: none;
	&.swiper-button-disabled{
		display: none;
	}
	&::after{
		content: none !important;
	}
}

.swiper{
	position: relative;
}

.swiper-button-next{
	left: 74px;
}
.swiper-button-prev{
	right: 0;
	left: auto;
}

.block-gallery{
	overflow: visible;
}

.swiper-wrapper{
	align-items: center;
}

.gallery-el{
	position: relative;
	&::after{
		content: '';
		position: absolute;
		top: 8px;
		left: 8px;
		bottom: -8px;
		right: -8px;
		background: #677B82;
		opacity: 0.24;
		z-index: 1;
	}
	&__img{
		position: relative;
		z-index: 10;
	}
}

.gallery-big-el{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 85px 122px;
	background: #F7F7F7;
	&__left, &__right{
		width: 100%;
		max-width: 300px;
	}
	&__center{
		position: relative;
		max-width: 465px;
		width: 100%;
		margin: 0 20px;
	}
	&__img{
		position: absolute;
		width: 100%;
		height: auto;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		box-shadow: 8px 8px 0px rgba(#677B82, 0.24);
	}
	&__text{
		margin-bottom: 18px;
	}
}

.gallery-big-slider{
	overflow: visible;
	&__prev{
		left: 0;
		right: auto;
	}
	&__next{
		right: 0;
		left: auto;
	}
	.swiper-slide:not(.swiper-slide-active){
	}
	.slider-arr.swiper-button-disabled{
		display: flex;
		pointer-events: auto;
		opacity: 1;
		cursor: pointer;
	}
}

.block-letters{
	&__el{
		cursor: pointer;
	}
}

.table-def{
	display: table;
	width: 100%;
	&__tr{
		display: table-row;
	}
	&__cell{
		display: table-cell;
		border-bottom: 1px solid #C4C4C4;
		padding: 23px 0;
		&:last-child{
			padding-left: 20px;
			min-width: 126px;
		}
	}
	&__title{
		font-family: 'Gilroy';
		font-size: 12px;
		letter-spacing: 0.04em;
		color: #677B82;
	}
}

.block-deadline{
	display: flex;
	align-items: center;
	background: #BB382A;
	padding: 0 42px;
	padding-bottom: 24px;
	&__count{
		flex: none;
		margin-right: 33px;
	}
	&__text{
		font-family: 'Gilroy';
		font-size: 24px;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		margin-bottom: 8px;
		line-height: 1.3;
	}
	&__title{
		font-family: 'Gilroy';
		font-weight: bold;
		font-size: 72px;
		letter-spacing: 0.02em;
		color: #FFFFFF;
	}
	&__body{
		padding-bottom: 16px;
	}
}

.info-company{
	text-align: center;
	max-width: 336px;
	&__img{
		width: 100%;
		position: relative;
		margin-bottom: 57px;
		&-img{
			position: relative;
			z-index: 10;
		}
		&::after{
			content: '';
			bottom: -8px;
		    background: #677B82;
		    opacity: .24;
	        position: absolute;
		    top: 8px;
		    left: 8px;
		    right: -8px;
		    z-index: 1;
		}
	}
	&__text{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

.text-line{
	font-family: 'Gilroy';
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 0.02em;
	color: #2F444E;
	position: relative;
	padding-left: 82px;
	line-height: 1.2;
	&::after{
		content: '';
		position: absolute;
		top: 10px;
		left: 0;
		background: #BB382A;
		width: 58px;
		height: 4px;
	}
}

.link-el{
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 44px 43px;
	&__text{
		font-family: 'Gilroy';
		font-weight: bold;
		font-size: 20px;
		letter-spacing: 0.02em;
		color: #2F444E;
		margin-right: 20px;
		line-height: 1.3;
		min-height: 54px;
		display: flex;
		align-items: center;
	}
	&__icon{
		flex: none;
	}
}

.block-links{
	&__el{
		margin-bottom: 32px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.reviews-el{
	display: block;
	text-align: center;
	&__img{
		position: relative;
		display: inline-block;
		max-width: 336px;
		margin-bottom: 48px;
		&::after{
			content: '';
			bottom: -8px;
		    background: #677B82;
		    opacity: .24;
	        position: absolute;
		    top: 8px;
		    left: 8px;
		    right: -8px;
		    z-index: 1;
		}
		&-img{
			position: relative;
			z-index: 10;
		}
	}
	&__text{
		display: block;
		max-width: 336px;
		margin-left: auto;
		margin-right: auto;
		line-height: 1.2;
	}
}

.block-reviews{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: -134px;
	&__el{
		width: 33.333333%;
		padding: 0 12px;
		margin-bottom: 134px;
	}
}

.inp{
	border: 0;
	display: block;
	width: 100%;
	font-family: 'Gilroy';
	font-size: 24px;
	letter-spacing: 0.02em;
	color: #2F444E;
	height: 50px;
	border-bottom: 1px solid #C4C4C4;
}

.form-el{
	position: relative;
	&__placeholder{
		position: absolute;
		top: 20px;
		left: 0;
		pointer-events: none;
	}
	&__inp{}
	&.active{
		.form-el__placeholder{
			top: -19px;
		}
	}
}

.placehodler-def{
	font-family: 'Gilroy';
	font-size: 16px;
	letter-spacing: 0.04em;
	color: #677B82;
	transition: .3s;
}

.form-el-2{
	&__placeholder{
		margin-bottom: 20px;
	}
}

.textarea{
	border: 1px solid #C4C4C4;
	font-family: 'Gilroy';
	font-size: 16px;
	letter-spacing: 0.04em;
	color: #2F444E;
	display: block;
	width: 100%;
	resize: none;
	height: 136px;
	padding: 17px 14px;
	line-height: 1.46;
}

.form-block{
	&__el{
		margin-bottom: 54px;
	}
	&__inps{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&-el{
			width: 48%;
			margin-bottom: 35px;
		}
	}
	&__bottom{
		margin-top: 39px;
		display: flex;
		// align-items: center;
		justify-content: space-between;
	}
	&__text{
		font-family: 'Gilroy';
		font-size: 12px;
		letter-spacing: 0.04em;
		color: #677B82;
		width: 49%;
		line-height: 1.35;
	}
	&__btn{
		padding-left: 10px;
		padding-right: 10px;
		flex: 1;
		margin-left: 19px;
	}
}

.work-big{
	display: flex;
	align-items: flex-start;
	&__body{
		background: #FFFFFF;
		border: 1px solid #C4C4C4;
		padding: 43px 63px;
		margin-top: 39px;
		flex: 1;
		height: 203px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__title{
		font-family: 'Gilroy';
		font-weight: bold;
		font-size: 28px;
		letter-spacing: 0.02em;
		color: #2F444E;
		line-height: 1.4;
		margin-bottom: 13px;
	}
	&__img{
		width: 342px;
		height: 400px;
		object-fit: contain;
	}
}

.work-el{
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	&__img{
		width: 220px;
		height: 257px;
		object-fit: contain;
		position: relative;
		top: -40px;
		margin-bottom: -40px;
	}
	&__body{
		padding: 40px 36px;
	}
	&__title{
		font-family: 'Gilroy';
		font-weight: bold;
		font-size: 20px;
		letter-spacing: 0.02em;
		color: #2F444E;
		margin-bottom: 20px;
	}
}

.block-work{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: -102px;
	&__el{
		padding: 0 12px;
		margin-bottom: 24px;
		width: 25%;
		margin-bottom: 102px;
		.work-el{
			height: 100%;
		}
		&_big{
			width: 50%;
		}
	}
}