@mixin mobMenu{
	.top-menu{
		position: fixed;
		top: -150vh;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		z-index: 999;
		margin: 0;
		background: #2F444E;
		transition: .4s;
		.container{
			max-width: 100% !important;
			padding: 0 !important;
		}
		&.active{
			top: 0;
		}
	}
	.main-menu{
		display: block;
	}
	.main-menu__el{
		margin-bottom: 16px;
	}
	.main-menu__link{
		justify-content: flex-start;
		padding: 12px 40px;
		font-size: 16px;
	}
	.main-menu__link svg{
		display: none;
	}
	.top-menu__btn{
		display: flex;
		margin-left: auto;
		margin-top: 15px;
		margin-right: 15px;
	}
	.top-menu__content{
		margin-top: 23px;
	}
	.top-menu__btnOrder{
		display: flex;
		margin-top: 98px;
		margin-left: 15px;
		margin-right: 15px;
	}
	.top-menu__wrap{
		padding-bottom: 80px;
	}
}

@media screen and (max-width: 1500px){
	.container{
		max-width: 1200px;
	}
	.main-menu__link{
		padding: 28px 22px;
	}
	.top-info__locate{
		margin-right: 60px;
	}
	.top-info__right{
		max-width: 720px;
	}
	.top-info__logo{
		width: 350px;
	}
	.menu-dropdown__col{
		padding: 30px 20px;
	}
	.block-order-form{
		padding: 50px 60px;
	}


	.sec-footer__content{
		flex-wrap: wrap;
	}
	.sec-footer__left{
		width: 100%;
		max-width: 100%;
		margin: 0;
		order: 2;
	}
	.sec-footer__right{
		width: 100%;
		max-width: 100%;
		order: 1;
		justify-content: flex-start;
		margin-bottom: 50px;
	}
	.sec-footer__tel{
		margin-left: 0;
		margin-right: 50px;
	}

	.sec-contact__content{
		height: 700px;
	}
	.gallery-big-el__left, .gallery-big-el__right{
		max-width: 250px;
	}

	.sec-reviews__content{
		margin-top: 50px;
	}

	.work-big__img{
		width: 300px;
		height: 350px;
		height: auto;
	}
	.work-big__body{
		padding: 20px 33px;
	}
	.work-el__body{
		padding: 30px 20px;
	}
}

@media screen and (max-width: 1250px){
	.container{
		max-width: 991px;
	}
	.main-menu__link{
		font-size: 14px;
		padding: 23px 10px;
	}
	.tel-el{
		font-size: 14px;
		span{
			font-size: 20px;
		}
	}
	.info-el__icon{
		margin-right: 20px;
	}
	.top-info__locate{
		margin-right: 20px;
	}
	.top-info__right{
		max-width: 600px;
	}
	.top-info__logo{
		width: 300px;
	}
	.menu-dropdown__title{
		font-size: 18px;
	}
	.menu-dropdown__links a{
		font-size: 14px;
	}
	.menu-dropdown__links li{
		margin-bottom: 7px;
	}

	.block-order-form__body{
		margin-right: 40px;
	}
	.block-order-form{
		justify-content: space-between;
	}

	.accreditations-el__img{
		width: 200px;
	}
	.accreditations-el__body{
		margin-right: 40px;
	}

	.clients-el{
		padding: 30px 20px;
	}
	.clients-el__text{
		font-size: 18px;
	}

	.gallery-big-el__right{
		text-align: right;
	}
	.gallery-big-el{
		padding: 85px 100px;
	}

	.sec-service__content{
		display: flex;
		flex-direction: column;
		&-left{
			margin: 0;
			width: 100%;
			max-width: 100%;
		}
		&-right{
			margin: 0;
			width: 100%;
			max-width: 100%;
		}
	}
	.sec-service__content-bottom{
		.sec-service__content-right{
			order: 1;
			margin-bottom: 30px;
		}
		.sec-service__content-left{
			order: 2;
		}
	}
	.sec-service .info-company{
		margin-top: 0;
	}
	.sec-service__content{
		margin-bottom: 30px;
	}
	.sec-service__deadline{
		margin-top: 0;
	}

	.block-reviews{
		margin-bottom: -50px;
	}
	.block-reviews__el{
		margin-bottom: 50px;
	}

	.work-big__img{
		width: 250px;
		height: 292px;
	}
	.work-big__body{
		padding: 20px 25px;
	}
}

@media screen and (max-width: 1000px){
	@include mobMenu;
	.container{
		max-width: 768px;
	}
	.top-info__nums{
		display: none;
	}
	.top-info__right{
		width: auto;
		max-width: none;
	}
	.top-info__btn{
		display: flex;
		margin-left: 40px;
	}
	.crumbs-block__wrap{
		padding: 25px 40px;
	}
	.block-sides{
		display: block;
		&__el{
			width: 100%;
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.sec-header__top-left{
		padding-right: 0;
	}
	.sec-header__content-img{
		width: 100%;
	}
	.sec-header__info{
		margin-left: 15px;
		margin-right: 15px;
		// width: 100%;
		max-width: calc(100% - 30px);
	}
	.sec-header__content{
		padding-bottom: 0;
		padding-top: 127px;
	}
	.sec-header__content-img{
		height: 300px;
		object-position: top;
	}
	.sec-header__infoDec{
		display: none;
	}

	.top-menu-overlay{
		display: none !important;
	}
	.top-info{
		padding-bottom: 0;
	}

	.sec-info-2__content-left{
		margin-top: 0;
		margin-bottom: 40px;
	}
	.sec-info-2__wrap{
		padding: 60px 0;
	}

	.block-order-form{
		display: block;
		background-position: center 150px;
		background-size: 100% auto;
		padding: 24px 44px;
		padding-bottom: 64px;
		&__body{
			max-width: 100%;
			text-align: center;
			margin-bottom: 24px;
		}
	}
	.sec-form__wrap{
		padding-bottom: 24px;
	}

	.sec-footer__content{
		padding-right: 0;
	}
	.sec-footer__right{
		display: block;
	}
	.sec-footer__mail, .sec-footer__el{
		margin: 0;
		margin-bottom: 30px;
	}
	.sec-footer__right{
		margin-bottom: 0;
	}

	.accreditations-el{
		display: block;
		text-align: center;
		&__img{
			margin-left: auto;
			margin-right: auto;
		}
		&__body{
			margin: 0;
		}
		&__link{
			justify-content: center;
			margin-top: 30px;
		}
	}

	.block-clients__el{
		width: 50%;
	}

	.sec-contact__info{
		display: block;
		padding: 30px 20px;
		&-block{
			margin: 0;
			max-width: 100%;
			margin-bottom: 30px;
		}
	}

	.sec-about__content{
		display: block;
		&-left{
			max-width: 100%;
			margin: 0;
			margin-bottom: 40px;
		}
		&-right{
			max-width: 100%;
		}
	}

	.gallery-big-el{
		flex-wrap: wrap;
		text-align: center;
		padding: 20px 100px;
		padding-bottom: 60px;
		&__center{
			order: 1;
			margin-left: auto;
			margin-right: auto;
			max-width: 400px;
			margin-bottom: 40px;
		}
		&__img{
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			background-attachment: fixed;
			transform: none;
		}
		&__left{
			order: 2;
			max-width: 100%;
			margin-bottom: 20px;
		}
		&__right{
			order: 3;
			max-width: 100%;
			text-align: center;
		}
	}
	.gallery-big-slider__arr{
		transform: none;
		top: auto;
		bottom: 60px;
	}

	.block-reviews__el{
		width: 50%;
	}

	.block-work__el{
		width: 33.333333%;
	}
	.block-work__el_big{
		width: 100%;
		margin-bottom: 50px;
	}
	.work-el{
		margin-top: 40px;
	}
}

@media screen and (max-width: 800px){
	.container{
		max-width: 600px;
	}
	.top-info__locate{
		display: none;
	}
	.top-info__logo{
		height: 46px;
	}
	.sec-info__wrap{
		padding: 50px 0;
	}
	.links-posts__num{
		margin-left: 5px;
		margin-right: 5px;
	}
	.links-posts__arr{
		margin-left: 10px;
		margin-right: 10px;
	}

	.sec-letters__content .block-gallery{
		padding-left: 0;
	}
	.block-gallery__next{
		left: 0;
	}
	.sec-service__content-bottom{
		margin-top: 0;
	}
	.sec-service .info-company{
		margin-top: 20px;
	}

	.modal-content{
		max-width: 90%;
	}

	.block-work__el:not(.block-work__el_big){
		width: 50%;
	}
}

@media screen and (max-width: 600px){
	.top-info__wrap{
		padding: 13px 0;
	}
	.crumbs-block_home{
		.crumbs-block__content{
			display: none;
		}
	}
	.crumbs-block__wrap{
		padding: 8px 0;
	}
	.title_main{
		font-size: 24px;
	}
	.paddingSides{
		padding-left: 0;
		padding-right: 0;
	}
	.sec-header__wrap{
		padding: 28px 0;
	}
	.text-sec{
		font-size: 16px;
		line-height: 1.5;
	}
	.sec-header__title{
		margin-bottom: 20px;
	}
	.tel-el span, .text-sec, .title{
		letter-spacing: .04em;
	}
	.text-info{
		font-size: 14px;
		line-height: 1.44;
	}
	.block-sides__el{
		margin-bottom: 14px;
	}
	.sec-header__content{
		margin-left: -15px;
		margin-right: -15px;
	}
	.sec-header__content{
		margin-top: 24px;
	}
	.title_sec{
		font-size: 20px;
	}
	.sec-header__info{
		padding: 22px 42px 22px 25px;
	}
	.title_sec{
		letter-spacing: 0.02em;
	}
	.text-info.text-black{
		font-size: 16px;
	}
	.sec-header__info-descrp{
		margin-top: 22px;
	}
	.ul{
		line-height: 1.4;
		li{
			margin-bottom: 10px;
		}
	}
	.ul li::after{
		transform: none;
		top: 8px;
	}
	.sec-header__content-img{
		height: 221px;
	}

	.sec-footer__el{
		display: block;
	}
	.sec-info__wrap{
		padding: 30px 0;
	}
	.sec-info__content{
		padding-left: 24px;
		padding-right: 25px;
	}
	.sec-info-2__wrap{
		padding: 20px 0;
	}
	.sec-info-2__content{
		flex-wrap: wrap;
		display: flex;
		padding: 0;
		&-left{
			order: 2;
			max-width: 100%;
			margin-bottom: 0;
			margin-right: 0;
		}
		&-right{
			order: 1;
			width: 100%;
			max-width: 100%;
			margin-bottom: 24px;
		}
	}
	.sec-info-2__info{
		margin-left: -15px;
		max-width: none;
		width: 100vw;
	}
	.sec-info-2__title{
		margin-bottom: 14px;
	}
	.wrap-article p{
		margin-bottom: 15px;
	}

	.block-order-form__title{
		font-size: 20px;
	}
	.block-order-form{
		padding: 24px 26px 64px;
	}
	.block-order-form__btn{
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 5px;
		padding-right: 5px;
	}
	.sec-footer__wrap{
		padding: 25px 24px;
		.info-el__icon{
			margin-right: 25px;
		}
		.tel-el span{
			font-size: 24px;
			margin-left: 12px;
		}
	}
	.sec-footer__tel{
		margin: 0;
		align-items: flex-start;
		.info-el__body{
			padding-top: 5px;
		}
	}
	.sec-footer__el{
		.sec-footer__tel{
			&:last-child{
				display: block;
				margin: 0;
				margin-top: -14px;
				padding-left: 73px;
			}
		}
	}
	.sec-footer__el, .sec-footer__mail{
		margin-bottom: 24px;
	}
	.sec-footer__mail{
		display: flex;
	}
	.mail-el{
		display: block;
	}
	.mail-el a{
		margin-top: 5px;
		margin-left: 0;
	}
	.sec-footer__title{
		font-size: 20px;
	}
	.sec-footer__date, .sec-footer__text{
		font-size: 16px;
	}
	.sec-footer__date{
		margin-bottom: 18px;
	}
	.crumbs-block:not(.crumbs-block_home){
		.crumbs-block__wrap {
		    padding: 28px 0;
		    padding-left: 27px;
		}
	}
	.crumbs-block__left{
		margin-right: 24px;
	}
	.sec-top{
		padding-left: 25px;
	}
	.sec-accreditations__wrap{
		padding-top: 25px;
	}
	.sec-accreditations__top{
		margin-bottom: 25px;
	}
	.accreditations-el__img{
		height: 127px;
		width: auto;
		margin-bottom: 35px;
	}
	.accreditations-el{
		padding: 22px 20px;
		padding-bottom: 35px;
	}
	.accreditations-el__title{
		font-size: 24px;
		margin-bottom: 19px;
	}
	.accreditations-el__text{
		margin-bottom: 3px;
	}
	.block-accreditations__el{
		margin-bottom: 13px;
	}
	.bottom-links{
		margin-top: 31px;
	}
	.links-posts__num{
		margin-left: 10px;
		margin-right: 10px;
		&:nth-child(3),&:nth-child(4),,&:nth-child(5){
			display: none;
		}
	}
	.links-posts__arr{
		margin: 0;
	}
	.sec-accreditations__wrap{
		padding-bottom: 31px;
	}

	.block-clients__el{
		width: 100%;
	}
	.sec-page__wrap{
		padding-top: 19px;
	}
	.sec-page__top{
		margin-bottom: 24px;
	}
	.clients-el {
	    padding: 39px 16px;
	    padding-bottom: 26px;
	}
	.clients-el__img-img{
		height: 92px;
	}
	.clients-el__img{
		margin-bottom: 29px;
	}
	.clients-el__text{
		font-size: 20px;
		min-height: 0;
	}
	.block-clients{
		margin-bottom: -13px;
	}
	.block-clients__el{
		margin-bottom: 13px;
	}
	.sec-page__wrap{
		padding-bottom: 27px;
	}

	.sec-contact__content .container{
		padding: 0;
	}
	.sec-contact__address{
		max-width: 100%;
	}
	.sec-contact__content{
		height: auto;
		padding-bottom: 400px;
	}
	.sec-contact__map{
		top: auto;
		bottom: 0;
		height: 400px;
	}

	.sec-contact__title{
		font-size: 32px;
	}
	.block-address{
		padding: 31px 39px 11px;
	}
	.block-address__flex{
		display: block;
		&-el{
			width: 100%;
		}
	}
	.block-address__block {
	    margin-bottom: 24px;
	    .text-info{
	    	font-size: 16px;
	    }
	}
	.block-address__block_margin{
		.block-address__flex-el{
			margin-bottom: 25px;
		}
	}
	.block-address__flex-el .block-address__block-title {
	    margin-bottom: 6px;
	}
	.text-black.sec-contact__info-title{
		margin-bottom: 15px;
	}
	.sec-contact__info{
		padding: 30px 26px;
		padding-bottom: 0;
	}

	.sec-about__title{
		margin-bottom: 20px;
	}
	.sec-about__content-title{
		margin-bottom: 20px;
	}
	.link-dec-2{
		font-size: 14px;
	}
	.sec-about__content-block:last-child{
		margin-bottom: 0;
	}
	.gallery-el__img{
		width: 100%;
	}

	.gallery-big-el{
		padding: 16px;
		padding-bottom: 116px;
	}
	.gallery-big-slider__arr{
		bottom: 25px;
	}
	.gallery-big-el__center{
		margin-bottom: 24px;
	}
	.gallery-big-el__text{
		margin-bottom: 16px;
	}
	.gallery-big-el__left{
		margin-bottom: 16px;
	}

	.modal-def__wrap{
		padding: 72px 16px;
		.container{
			padding: 0;
		}
	}
	.modal-def__close{
		top: 16px;
		right: 16px;
	}
	.gallery-big-slider__prev{
		left: 24px;
	}
	.gallery-big-slider__next{
		right: 24px;
	}

	.sec-service__content{
		&:first-child{
			.sec-service__content-left{
				padding-left: 25px;
			}
		}
	}
	.sec-service__title{
		margin-bottom: 27px;
	}
	.sec-service__article{
		margin-top: 15px;
	}
	.sec-service__article{
		font-size: 16px;
		line-height: 1.5;
	}
	.wrap-article ul{
		margin-top: 23px;
	}
	.sec-service__content-title{
		margin-bottom: 14px;
	}
	.sec-service .info-company{
		margin-top: 20px;
	}
	.info-company__img{
		margin-bottom: 33px;
	}
	.sec-service__article{
		margin-top: 18px;
	}
	.wrap-article p{
		margin-bottom: 23px;
	}
	.wrap-article ol li{
		padding-left: 35px;
	}
	.wrap-article ol li::after{
		left: 4px;
	}
	.wrap-article ol{
		margin-bottom: 25px;
	}
	.sec-service__content{
		margin-bottom: 28px;
	}
	.block-deadline__count{
		width: 87px;
		height: auto;
		margin-right: 27px;
	}
	.block-deadline__text{
		font-size: 16px;
		line-height: 1.5;
	}
	.block-deadline__title{
		font-size: 40px;
	}
	.block-deadline{
		// align-items: flex-start;
		padding-right: 10px;
		padding-bottom: 21px;
	}
	.sec-service__content-bottom .sec-service__content-right{
		margin-bottom: 24px;
	}
	.title{
		letter-spacing: 0.4px;
	}
	.sec-service__table-title{
		margin-bottom: 6px;
	}
	.table-def__text{
		font-size: 16px;
	}
	.crumbs-block__content{
		position: relative;
		padding-left: 46px;
		.crumbs-block__left{
			position: absolute;
			top: 0;
			left: 0;
			margin: 0;
		}
	}
	.crumbs-block__el{
		display: inline-block;
		margin-bottom: 5px;
	}

	.link-el{
		padding: 40px 20px;
	}
	.text-line{
		padding-left: 40px;
		font-size: 16px;
		&::after{
			width: 30px;
			height: 2px;
			top: 8px;
		}
	}
	.top-menu__btnOrder{
		padding-left: 10px;
		padding-right: 10px;
	}

	.block-reviews__el{
		width: 100%;
	}

	.sec-reviews__top{
		padding-left: 26px;
	}
	.block-reviews{
		padding: 0 18px;
	}
	.sec-reviews__content{
		margin-top: 39px;
	}
	.reviews-el__img{
		margin-bottom: 26px;
	}

	.modal-content{
		max-width: 100%;
		padding: 29px 28px;
	}
	.modal-content__title{
		font-size: 32px;
	}
	.form-block__el{
		margin-bottom: 50px;
	}
	.form-block__inps-el{
		width: 100%;
		margin-bottom: 55px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.form-block__inps{
		margin-bottom: 36px;
	}
	.form-block__bottom{
		display: block;
	}
	.form-block__text{
		width: 100%;
		padding-right: 41px;
	}
	.form-block__bottom{
		margin-top: 15px;
	}
	.form-block__btn{
		margin: 0;
		margin-top: 31px;
		width: 100%;
	}

	.work-big{
		display: block;
		&__img{
			width: 100%;
			height: auto;
		}
		&__body{
			margin: 0;
			min-height: 0;
			height: auto;
			padding: 23px 24px;
		}
		&__title{
			font-size: 24px;
			margin-bottom: 8px;
		}
		&__text{
			font-size: 16px;
		}
	}
	.sec-work__content{
		margin-top: 26px;
	}
	.block-work__el_big{
		margin-bottom: 17px;
	}
	.block-work__el:not(.block-work__el_big){
		width: 100%;
	}
	.work-el{
		margin: 0;
		&__img{
			margin: 0;
			top: 0;
			width: 100%;
			height: auto;
		}
		&__body{
			padding: 23px 25px;
		}
		&__title{
			margin-bottom: 11px;
		}
		&__text{
			font-size: 16px;
		}
	}
	.block-work{
		margin-bottom: 0;
	}
	.block-work__el{
		margin-bottom: 19px;
	}
}